<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <main class="main">
    <div class="auth-section">
        <div class="image">
            <img src="{% static 'Image.png' %}" alt="Login Image">
        </div>
        <div class="form-container">
            <div class="form-header">
                <h2><a href="">Авторизация</a></h2>
                
                <h2><a href="{% url 'login:signup' %}">Регистрация</a></h2>
            </div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
            
                <button type="submit">Войти</button>
                <a href="#" class="forgot-password">Забыли пароль?</a>
                <div class="error-message">неверный пароль</div>
            </form>
        </div>
    </div>
</main>
</body>
</html>
