<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Зарегистрироваться</title>
</head>
<body>
    <main class="main">
        <div class="auth-section" id="registration">
            <div class="image">
                <img src="{% static 'Image.png' %}" alt="Registration Image">
            </div>
            <div class="form-container">
                <div class="form-header">
                    <a href="{% url 'login:login' %}">Авторизация</a>
                    <h2>Регистрация</h2>
                </div>
                <form method="post">
                    {% csrf_token %}
                   {{ form.as_p }}

                    <button type="submit">Регистрация</button>
                    <p>Создавая аккаунт, вы соглашаетесь с нашим <a href="#">пользовательским соглашением</a> и <a href="#">положением о конфиденциальности</a>.</p>
                </form>
            </div>
        </div>
    </main>
</body>
</html>
